
.icon-user-add-outline:before { content: '\e804'; } /* '' */
.icon-user-add:before { content: '\e805'; } /* '' */
.icon-user-add-1:before { content: '\e806'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
